* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comforter', cursive;
}

@media only screen and (min-width: 961px) {
    .play-music p {
        font-size: 45px;
    }

    #icon {
        width: 75px;
        cursor: pointer;
    }

    .content-wrapper {
        height: 25%;
    }
}

header {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/astronaut-space-13-4k.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}

.navigation-area {
    display: flex;
    list-style: none;
    margin-top: 120px;
}

.navigation-area li {
    display: inline-block;
}

.navigation-area li a {
    color: white;
    text-decoration: none;
    padding: 5px 40px;
    font-family: 'Comforter', cursive;
    font-size: 55px;
    border-radius: 90%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    color: #fff;
}

.navigation-area li a:hover {
    background: #edffec;
	color: #000;
    transform: translateY(-10px);
}

.welcome-wrapper {
    display: flex;
    justify-content: center;
}

.welcome { 
    position: absolute;
    display: flex;
    margin-top: 25px;
}

.welcome h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 45px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}

.play-music {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
}

.play-music p {
    color: white;
    font-size: 90px;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
}

#icon {
    width: 150px;
    cursor: pointer;
}
.media {
    display: flex; 
    align-items: center;
}

.media li {
    list-style: none;
    font-size: 65px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    color: #fff;
    padding: 0px 50px;

}

.media li:hover {
    background: #edffec;
	color: #000;
    transform: translateY(-10px);
}

.projects{
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.projects-intro{
    margin: auto;
}
.projects-intro p {
    color: white;
    font-size: 60px;
}
.project-content{
    display: flex;
    align-items: center;  
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.project-content p{
    text-align: center;
    color: white;
    font-size: 50px;
}
.project-content li{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    list-style: none;
}
.music{
    margin: auto;
    width: 50%;
    margin-top: 0%;
}

.videos{
    margin: auto;
    width: 50%;
}