* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comforter', cursive;
}

header {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/astronaut-space-13-4k.jpg");
    /*background: url("images/astronaut-space-13-4k.jpg");*/
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}

.navigation-area {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.navigation-area li {
    display: inline-block;
}

.navigation-area li a {
    color: white;
    text-decoration: none;
    padding: 5px 40px;
    font-family: 'Comforter', cursive;
    font-size: 30px;
    border-radius: 90%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    color: #fff;
}

.navigation-area li a:hover {
    background: #edffec;
	color: #000;
    transform: translateY(-10px);
}

.welcome { 
    position: absolute;
    width: 250px;
    height: 100px;
    margin: 2.4% 4%;
    text-align: center;
}

.welcome h1 {
    /*align-content: auto;*/
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.content {
    float: right;
    margin-right: -8%;
    margin-top: 18%;
    display: flex;
    align-items: center;
}

.content p {
    color: white;
    font-size: 30px;
    margin-left: -55px;

}

#icon {
    width: 80px;
    cursor: pointer;
}
.media {
    margin-top: 39%;
    margin-left: 32%;
}
.icon-wrapper li {
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 90%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    color: #fff;

}

.icon-wrapper li:hover {
    background: #edffec;
	color: #000;
    transform: translateY(-10px);
}